/*****************************************
* HTML ELEMENTS RESET
*****************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*****************************************
* GLOBAL ELEMENTS
*****************************************/
body {
  font-family: "DM Sans", sans-serif;
  width: 90%;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 767px) {
  body {
    width: 100%;
  }
}

main {
  margin: 0 auto;
}
@media only screen and (max-width: 1023px) {
  main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
@media only screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header-link {
  text-decoration: none;
}
.header-logo {
  height: 6rem;
}
@media only screen and (max-width: 1023px) {
  .header-logo {
    margin: 1em 0;
  }
}

dialog {
  border: none;
}

/*****************************************
* UTILITY CLASSES
*****************************************/
.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

/*****************************************
* TYPOGRAPHY RULES
*****************************************/
/*****************************************
* ANIMATIONS
*****************************************/
/*****************************************
* GLOBAL MEDIA QUERIES
*****************************************/
@media only screen and (max-width: 1365px) {
  html {
    font-size: calc(62.5% - 0.3vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important; /* 1 */
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important; /* 1 */
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/
.title {
  color: #901c1c;
  margin-right: 10rem;
  font-size: 4rem;
}
@media only screen and (max-width: 1023px) {
  .title {
    margin: 1em 0;
  }
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 1023px) {
  .photographer-section {
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
  }
}
@media only screen and (max-width: 767px) {
  .photographer-section {
    grid-template-columns: 1fr;
  }
}
.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-card-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}
.photographer-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 3.6rem;
}
.photographer-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1em;
}
.photographer-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 2rem;
}
.photographer-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;
}
.photographer-rate {
  color: #757575;
  font-weight: 400;
  font-size: 1.5rem;
}

/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/
.button {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown {
  width: 17rem;
  height: 7rem;
  background-color: #901c1c;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 2rem solid #901c1c;
}

.footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 10rem;
  padding: 1em;
  background: #db8876;
  color: #000000;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 2.5rem;
}
@media only screen and (max-width: 767px) {
  .footer {
    left: calc((100vw - 30rem) / 2);
    right: calc((100vw - 30rem) / 2);
    width: 30rem;
    height: 6rem;
    font-size: 2rem;
    border-radius: unset;
  }
}
.footer-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.footer-likes {
  margin-right: 0.5em;
}

.photograph-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 30rem;
  padding: 3em;
  margin-bottom: 2em;
}
@media only screen and (max-width: 1023px) {
  .photograph-header {
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    height: 100%;
    width: 100%;
  }
}
.photograph-info {
  display: flex;
  flex-flow: column nowrap;
}
.photograph-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 5rem;
}
.photograph-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 3rem;
}
.photograph-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1em;
}
.photograph-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.media-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 35rem);
  justify-content: space-between;
  gap: 2em 1em;
  padding: 2em 0;
}
.media-card {
  display: flex;
  flex-flow: column nowrap;
  width: 35rem;
}
.media-card-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.media-card-img, .media-card-video {
  width: 35rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.media-card-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
}
.media-card-title {
  max-width: 80%;
  font-weight: 400;
  font-size: 2.4rem;
  color: #911c1c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.media-like-container {
  display: flex;
  flex-flow: row nowrap;
}
.media-like-count {
  font-weight: 400;
  font-size: 2.2rem;
  margin-right: 0.2em;
  color: #911c1c;
}
.media-like-button {
  border: none;
  background-color: transparent;
  font-size: 2.2rem;
  color: #911c1c;
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #db8876;
  width: 70rem;
  padding: 2em;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
.modal-title {
  vertical-align: top;
  font-size: 5rem;
  font-weight: 400;
}
.modal-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.modal-form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.modal-label {
  color: #312e2e;
  font-size: 3rem;
}
.modal-input {
  width: 100%;
  height: 6rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  margin: 0;
  padding: 0.5em;
}
.modal-msg {
  height: 14rem;
}
.modal-submit {
  margin-top: 2em;
}

.lightbox {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  padding: 2em;
  border-radius: 0.5rem;
  background-color: #ffffff;
}
.lightbox-container {
  display: grid;
  grid-template-columns: 8% 84% 8%;
}
.lightbox-grid1, .lightbox-grid3 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.lightbox-grid1 {
  grid-column: 1;
}
.lightbox-grid2 {
  grid-column: 2;
}
.lightbox-grid3 {
  position: relative;
  grid-column: 3;
}
.lightbox-media {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
.lightbox-img, .lightbox-video {
  -o-object-fit: contain;
     object-fit: contain;
}
.lightbox-close {
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 3rem;
  height: 3rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.lightbox-previous, .lightbox-next {
  font-size: 4rem;
  border: none;
  background-color: transparent;
  color: #911c1c;
  cursor: pointer;
}
.lightbox-caption {
  font-size: 4rem;
  color: #911c1c;
  margin: 0.5em 0;
}/*# sourceMappingURL=style.css.map */