/*****************************************
* HTML ELEMENTS RESET
*****************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*****************************************
* UTILITY CLASSES
*****************************************/
.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

/*****************************************
* TYPOGRAPHY RULES
*****************************************/
/*****************************************
* ANIMATIONS
*****************************************/
/*****************************************
* GLOBAL MEDIA QUERIES
*****************************************/
@media only screen and (max-width: 1364px) {
  html {
    font-size: calc(62.5% - 0.2vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important; /* 1 */
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important; /* 1 */
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/
body {
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
}

h1 {
  color: #901c1c;
  margin-right: 10rem;
}

.logo {
  height: 5rem;
  margin-left: 10rem;
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  margin-top: 10rem;
}
.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-card-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}
.photographer-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 3.6rem;
  line-height: 4.7rem;
}
.photographer-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1em;
}
.photographer-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.photographer-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
}
.photographer-rate {
  color: #757575;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/
#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 30rem;
  margin: 0 10rem;
}

.contact_button {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 0.7rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal {
  border-radius: 0.5rem;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 6.4rem;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 3.6rem;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 2.6rem;
}
form input {
  width: 100%;
  height: 6.8rem;
  border: none;
  border-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */