/*****************************************
* HTML ELEMENTS RESET
*****************************************/
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/*****************************************
* GLOBAL ELEMENTS
*****************************************/
body {
  font-family: "DM Sans", sans-serif;
  max-width: 1920px;
  margin: 0 auto;
}

main {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
}
@media only screen and (max-width: 1023px) {
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.header-link {
  text-decoration: none;
}
.header-logo {
  height: 6rem;
  margin-left: 10rem;
}
@media only screen and (max-width: 1023px) {
  .header-logo {
    margin: 1em 0;
  }
}

/*****************************************
* UTILITY CLASSES
*****************************************/
.red {
  outline: red 1px solid;
}

.blue {
  outline: blue 1px solid;
}

/*****************************************
* TYPOGRAPHY RULES
*****************************************/
/*****************************************
* ANIMATIONS
*****************************************/
/*****************************************
* GLOBAL MEDIA QUERIES
*****************************************/
@media only screen and (max-width: 1365px) {
  html {
    font-size: calc(62.5% - 0.2vw);
  }
}
@media (prefers-reduced-motion: reduce) {
  *,
::before,
::after {
    -webkit-animation-delay: -1ms !important;
            animation-delay: -1ms !important; /* 1 */
    -webkit-animation-duration: 1ms !important;
            animation-duration: 1ms !important; /* 1 */
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important; /* 1 */
    background-attachment: initial !important; /* 2 */
    scroll-behavior: auto !important; /* 3 */
    transition-delay: 0s !important; /* 4 */
    transition-duration: 0s !important; /* 4 */
  }
}
/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/
.title {
  color: #901c1c;
  margin-right: 10rem;
  font-size: 4rem;
}
@media only screen and (max-width: 1023px) {
  .title {
    margin: 1em 0;
  }
}

.photographer-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7rem;
  margin-top: 10rem;
}
@media only screen and (max-width: 1023px) {
  .photographer-section {
    grid-template-columns: 1fr 1fr;
    margin: 1em 0;
  }
}
@media only screen and (max-width: 767px) {
  .photographer-section {
    grid-template-columns: 1fr;
  }
}
.photographer-card {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer-card-link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
}
.photographer-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 3.6rem;
}
.photographer-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1em;
}
.photographer-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 2rem;
}
.photographer-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 1.5rem;
}
.photographer-rate {
  color: #757575;
  font-weight: 400;
  font-size: 1.5rem;
}

/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/
.contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}
.contact-button {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding: 1.1rem;
  width: 17rem;
  height: 7rem;
  border: none;
  background-color: #901c1c;
  border-radius: 0.5rem;
  cursor: pointer;
}

.photograph-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  height: 30rem;
  padding: 3em;
  margin: 2em 0;
}
@media only screen and (max-width: 1023px) {
  .photograph-header {
    flex-flow: column-reverse nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1em;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
.photograph-footer {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 40rem;
  height: 10rem;
  padding: 1em;
  background: #db8876;
  color: #000000;
  border-radius: 0.5rem;
  font-weight: 500;
  font-size: 2.5rem;
}
.photograph-info {
  display: flex;
  flex-flow: column nowrap;
}
.photograph-name {
  color: #d3573c;
  font-weight: 400;
  font-size: 5rem;
}
.photograph-location {
  color: #901c1c;
  font-weight: 400;
  font-size: 3rem;
}
.photograph-tagline {
  color: #000000;
  font-weight: 400;
  font-size: 2rem;
  margin-top: 1em;
}
.photograph-img {
  height: 20rem;
  width: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.media-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  row-gap: 2em;
  padding: 2em 0;
}
@media only screen and (max-width: 767px) {
  .media-section {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
.media-card {
  display: flex;
  flex-flow: column nowrap;
  width: 35rem;
}
.media-card-img, .media-card-video {
  width: 35rem;
  height: 30rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.5rem;
}
.media-card-info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1em;
  color: #911c1c;
}
.media-card-title {
  font-weight: 400;
  font-size: 2.4rem;
}
.media-card-likes {
  font-weight: 400;
  font-size: 2.2rem;
}

.modal {
  border-radius: 0.5rem;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem;
  margin: auto;
}
.modal header {
  justify-content: space-between;
  width: 100%;
}
.modal header img {
  cursor: pointer;
}
.modal header h2 {
  font-size: 6.4rem;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
form label {
  color: #312e2e;
  font-size: 3.6rem;
}
form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 2.6rem;
}
form input {
  width: 100%;
  height: 6.8rem;
  border: none;
  border-radius: 0.5rem;
}/*# sourceMappingURL=style.css.map */