/*****************************************
* HOME PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

body {
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
}

h1 {
    color: #901c1c;
    margin-right: 10rem;
}

.logo {
    height: 5rem;
    margin-left: 10rem;
}

.photographer {
    &-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 7rem;
        margin-top: 10rem;
    }

    &-card {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-link {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            text-align: center;
        }
    }

    &-name {
        color: #d3573c;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 4.7rem;
    }

    &-img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 1em;
    }

    &-location {
        color: #901c1c;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.7rem;
    }

    &-tagline {
        color: #000000;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.3rem;
    }

    &-rate {
        color: #757575;
        font-weight: 400;
        font-size: 0.9rem;
        line-height: 1.2rem;
    }
}
