/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #fafafa;
    height: 30rem;
    margin: 0 10rem;
}

.contact_button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1.1rem;
    width: 17rem;
    height: 0.7rem;
    border: none;
    background-color: #901c1c;
    border-radius: 0.5rem;
    cursor: pointer;
}

.modal {
    border-radius: 0.5rem;
    background-color: #db8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 3.5rem;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 6.4rem;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312e2e;
    font-size: 3.6rem;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 2.6rem;
}

form input {
    width: 100%;
    height: 6.8rem;
    border: none;
    border-radius: 0.5rem;
}
