/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1.1rem;
    width: 17rem;
    height: 7rem;
    border: none;
    background-color: #901c1c;
    border-radius: 0.5rem;
    cursor: pointer;
}

.photograph {
    &-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fafafa;
        height: 30rem;
        padding: 3em;
        margin: 2em 0;

        @include for-tablet {
            flex-flow: column-reverse nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 1em;
            height: 100%;
            width: 100%;
            margin: 0;
        }
    }

    &-footer {
        z-index: 1;
        position: fixed;
        bottom: 0;
        right: 5%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        width: 40rem;
        height: 10rem;
        padding: 1em;
        background: #db8876;
        color: #000000;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 2.5rem;
    }

    &-info {
        display: flex;
        flex-flow: column nowrap;
    }

    &-name {
        color: #d3573c;
        font-weight: 400;
        font-size: 5rem;
    }

    &-location {
        color: #901c1c;
        font-weight: 400;
        font-size: 3rem;
    }

    &-tagline {
        color: #000000;
        font-weight: 400;
        font-size: 2rem;
        margin-top: 1em;
    }

    &-img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.media {
    &-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        row-gap: 2em;
        padding: 2em 0;

        @include for-mobile {
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
        }
    }

    &-card {
        display: flex;
        flex-flow: column nowrap;
        width: 35rem;

        &-img,
        &-video {
            width: 35rem;
            height: 30rem;
            object-fit: cover;
            border-radius: 0.5rem;
        }

        &-info {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 1em;
            color: #911c1c;
        }

        &-title {
            font-weight: 400;
            font-size: 2.4rem;

            @include for-mobile;
        }

        &-likes {
            font-weight: 400;
            font-size: 2.2rem;
        }
    }
}

.modal {
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #db8876;
    width: 70rem;
    padding: 2em;

    &-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1em;
    }

    &-title {
        vertical-align: top;
        font-size: 5rem;
        font-weight: 400;
    }

    &-close {
        all: unset;
        cursor: pointer;
        margin-top: 1em;
    }

    &-form {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    &-fieldset {
        display: flex;
        flex-direction: column;
        align-items: self-start;
        width: 100%;
        border: none;
    }

    &-label {
        color: #312e2e;
        font-size: 3rem;
    }

    &-input {
        width: 100%;
        height: 6rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 2rem;
        margin: 0;
        padding: 1em;
    }

    &-msg {
        height: 14rem;
    }

    &-submit {
        margin-top: 2em;
    }
}
