/*****************************************
* PHOTOGRAPHER PAGE SPECIFIC STYLES
*****************************************/

@use "../utils/" as *;

.button {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    padding: 1.1rem;
    width: 19rem;
    height: 7rem;
    border: none;
    background-color: #901c1c;
    border-radius: 0.5rem;
    cursor: pointer;
}

.dropdown {
    width: 19rem;
    height: 7rem;
    background-color: #901c1c;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border: 2rem solid #901c1c;

    &-options {
        font-family: "DM Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        background-color: #901c1c;
        color: #ffffff;
    }
}

.footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    height: 10rem;
    padding: 1em;
    background: #db8876;
    color: #000000;
    border-radius: 0.5rem;
    font-weight: 500;
    font-size: 2.5rem;

    @include for-tablet {
        right: 5%;
    }

    @include for-mobile {
        left: calc((100vw - 30rem) / 2);
        right: calc((100vw - 30rem) / 2);
        width: 30rem;
        height: 6rem;
        font-size: 2rem;
        border-radius: unset;
    }

    &-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &-likes {
        margin-right: 0.5em;
    }
}

.photograph {
    &-header {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        background-color: #fafafa;
        height: 30rem;
        padding: 3em;
        margin-bottom: 2em;

        @include for-tablet {
            flex-flow: column-reverse nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            row-gap: 1em;
            height: 100%;
            width: 100%;
        }
    }

    &-info {
        display: flex;
        flex-flow: column nowrap;
    }

    &-name {
        color: #d3573c;
        font-weight: 400;
        font-size: 5rem;
    }

    &-location {
        color: #901c1c;
        font-weight: 400;
        font-size: 3rem;
    }

    &-tagline {
        color: #000000;
        font-weight: 400;
        font-size: 2rem;
        margin-top: 1em;
    }

    &-img {
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.media {
    &-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, 35rem);
        justify-content: space-between;
        gap: 2em 1em;
        padding: 2em 0;

        @include for-mobile {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 2em 0;
        }
    }

    &-card {
        display: flex;
        flex-flow: column nowrap;
        width: 35rem;

        @include for-mobile {
            width: 100%;
        }

        &-button {
            border: none;
            background-color: transparent;
            cursor: pointer;
        }

        &-img,
        &-video {
            width: 35rem;
            height: 30rem;
            object-fit: cover;
            border-radius: 0.5rem;

            @include for-mobile {
                width: 100%;
                border-radius: unset;
            }
        }

        &-info {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            margin-top: 1em;
        }

        &-title {
            max-width: 80%;
            font-weight: 400;
            font-size: 2.4rem;
            color: #911c1c;
            @include dot-overflow;
        }
    }

    &-like {
        &-container {
            display: flex;
            flex-flow: row nowrap;
        }

        &-count {
            font-weight: 400;
            font-size: 2.2rem;
            margin-right: 0.2em;
            color: #911c1c;
        }

        &-button {
            border: none;
            background-color: transparent;
            font-size: 2.2rem;
            color: #911c1c;
            cursor: pointer;
        }
    }
}

.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #db8876;
    width: 70rem;
    padding: 2em;

    @include for-mobile {
        width: 100%;
        padding: 1em;
    }

    &-header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1em;
    }

    &-title {
        vertical-align: top;
        font-size: 5rem;
        font-weight: 400;

        @include for-mobile {
            font-size: 3.5rem;
        }
    }

    &-close {
        width: 5rem;
        height: 5rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        @include for-mobile {
            width: 3rem;
            height: 3rem;
        }

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &-form {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    &-label {
        color: #312e2e;
        font-size: 3rem;

        @include for-mobile {
            font-size: 2rem;
        }
    }

    &-input {
        width: 100%;
        height: 6rem;
        border: none;
        border-radius: 0.5rem;
        font-size: 2rem;
        margin: 0;
        padding: 0.5em;

        @include for-mobile {
            height: 4rem;
            font-size: 1rem;
        }
    }

    &-msg {
        height: 14rem;

        @include for-mobile {
            height: 10rem;
        }
    }

    &-submit {
        margin-top: 2em;

        @include for-mobile {
            margin-top: 0;
        }
    }
}

.lightbox {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 2em;
    border-radius: 0.5rem;
    background-color: #ffffff;

    &-container {
        display: grid;
        grid-template-columns: 8% 84% 8%;
    }

    &-grid1,
    &-grid3 {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

    &-grid1 {
        grid-column: 1;
        align-items: flex-end;
    }

    &-grid2 {
        grid-column: 2;
    }

    &-grid3 {
        position: relative;
        grid-column: 3;
        align-items: flex-start;
    }

    &-media {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        margin: 0 1em;
    }

    &-img,
    &-video {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden;
        object-fit: scale-down;
    }

    &-close {
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &-img {
            width: 100%;
            height: 100%;
        }
    }

    &-previous,
    &-next {
        font-size: 4rem;
        border: none;
        background-color: transparent;
        color: #911c1c;
        cursor: pointer;
    }

    &-caption {
        font-size: 3rem;
        color: #911c1c;
        margin: 0.5em 0;
    }
}
